.shoppingCarhead{
	width:1000px;
	height:32px;
	margin:0px auto;
	padding: 50px 0px 10px 0px;
	text-align:center;
}
.shoppingCarhead>span:nth-child(2),.shoppingCarhead>span:nth-child(4){
	font-size:14px;
}
.shoppingCarhead>span:nth-child(2){
	color: #6393b4;
}
/* 内容盒子样式 */
.neirong {
    width: 1000px;
    color: #666;
	margin: 20px auto;
}
.neirong .carTab {
    width: 100%;
    border-bottom: 2px solid #ccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.neirong .carTab tr .txtl {
	
    text-align: left;
}
.neirong .carTab tr th {
    border-bottom: 2px solid #ccc;
    padding: 15px 23px;
    font-size: 15px;
}
.neirong .carTab tr .chkbox,.check-all{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
}
textarea, input {
	margin-left: 12px;
    resize: none;
    outline: none;
}
.neirong .carTab tr td .num2 {
    width: 24px;
    height: 18px;
    border: none;
    display: inline-block;
    text-align: center;
}
.neirong .carTab tr.itemlist2 td {
    border-bottom: 1px solid #f0f0f0;
}
.neirong .carTab tr td {
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.neirong .carTab tr td .gimgCon {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #878787;
}
.neirong .carTab tr td .blue {
    color: #6393b4;
}
.neirong .carTab tr td .gimgCon img {
    width: 68px;
    height: 68px;
    border: 1px solid #f0f0f0;
    vertical-align: top;
}
.opt{
	cursor: pointer;
}
/* 空盒子样式 */
.neirong-kong{
	display: none;
	width:640px;
	height:280px;
	margin:96px auto 0;
	box-shadow: rgb(170 170 170) 2px 1px 2px;
}
.neirong-kong>img{
	width: 150px;
	height: 110px;
	margin-top: 40px;
	margin-left: 245px;
}
.neirong-kong>p{
	margin-top: 15px;
	height: 24px;
	font-size: 24px;
	color: #999999;
	line-height: 24px;
	text-align: center;
	width: 300px;
	margin-left: 170px;
}
/* 良品总价样式 */
.zongjia{
	margin:20px auto 0;
	width:1000px;
	text-align:center;
}
.zongjia>span:nth-child(1){
	font-size: 14px;
	line-height: 30px;
}
.zongjia>span:nth-child(3){
	color: #197bc9;
	margin-left: 10px;
	font-size: 20px;
}
.jiesuan{
	margin:5px auto;
	width:168px;
	height:30px;
	color:#fff;
	text-align:center;
	line-height:30px;
	background:#7fa6c5;
}
/* 继续购物样式 */
.shoppingAgain{
	width:1000px;
	margin:0px auto 120px;
}
.shoppingAgain>div{
	width:168px;
	margin:20px auto;
	text-align:center;
	border-bottom:1px solid #ccc;
	position:relative;
}
.shoppingAgain>div>a{
	display:inline-block;
	width:100%;
	color: #404040;
	font-size:14px;
	line-height:20px;
	position:absolute;
	top:-10px;right:-5px;
}