*{margin:0px;padding:0px;}
li{list-style:none;}
a{text-decoration:none;}
img{vertical-align:bottom;}
html{
	font-size:16px;
	/* overflow:hidden; */
}

/* 首页顶部搜索菜单栏 */
nav{
	position:absolute;
	top:0px;left:0px;
	width:100%;
	background:rgb(200,37,25);
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:100;
}
.menu{
	width:1.25rem;
	height:1.125rem;
	background:url('../imgs/caidan.png') no-repeat;
	background-size:100% 100%;
	margin:0.875rem 0.9375rem;
}
.search{
	width:18rem;
	height:1.875rem;
	background:white;
	border-radius:1rem;
}
.search-logo{
	position:relative;
	margin:0.5rem 0.5rem 0 0.9375rem;
	float:left;
	width:1.25rem;
	height:0.9375rem;
	background:url('../imgs/logo.png') no-repeat;
	background-size:100% 100%;
}
.search-logo::after{
	content:'';
	height:1rem;
	position:absolute;
	top:0rem;left:1.625rem;
	border-right:1px solid #ddd;
}
.fdj{
	float:left;
	margin:0.5rem 0.5rem 0 0.39453125rem;
	width:1.125rem;
	height:0.9275rem;
	background:url('../imgs/jd-sprites.png') no-repeat -5rem 0;
	background-size:12.5rem;
}
.search-in{
	/* padding-left: */
	border:none;
	font-size:12px;
	color:#232326;
	box-sizing:border-box;
	hieght:auto;
	margin:0.5rem 0 0 0.3125rem;
	line-height:1rem;
	width:12rem;
	outline:none;
}
.login{
	color:white;
	display:inline-block;
	width:2rem;
	height:1.3125rem;
	margin:0.625rem 1rem;
	font-size:14px;
}
/* 头部背景样式 */
/* section{
	overflow:hidden;
} */
.slider-bg{
	position: absolute;
	top: 0;
	left: 0%;
	height: 7.25rem;
	width: 100%;
	overflow:hidden;
}
.slider-bg::after{
	position: absolute;
	top: 0;
	left: -25%;
	content:'';
	display:block;
	width: 150%;
	height: 7.25rem;
	background-image: linear-gradient(0deg,#f1503b,#c82519 50%);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	box-sizing:border-box;
}
/* 轮播图样式 */
.banner-box{
	height: 9.25rem;
	position:relative;
	border-radius:1rem;
	margin: 3rem 1rem 1rem 1rem;
	overflow:hidden;
}
.banner-list{
	width:100%;
	position:absolute;
	left:0px;top:0px;
	height: 9.25rem;
	padding: 0;
	min-height: 0;

}
/* .banner-list .p1,.banner-list .p2,.banner-list .p3{ */
.banner-list>li{
	height:9.25rem;
	width:100%;
	position:absolute;
	left:0%;top:0px;
}
.banner-list>li:nth-child(2){
	position:absolute;
	left:100%;top:0px;
}
.banner-list>li:nth-child(3){
	position:absolute;
	left:200%;top:0px;
}
.banner-list>li>a>img{
	width:100%;
	height:100%;
}
.spans{
/* 	position:absolute;
	left:50%;top:50%; */
	width:100%;
	text-align: center;
	position: absolute;
	bottom: .4rem;
	left: 0;
	z-index: 11;
}
.spans>span{
	box-sizing: border-box;
	border-radius: 50%;
	height: .33rem;
	width: .33rem;
	/* background: hsla(0,0%,100%,.6); */
	margin: 0 2px;
	display: inline-block;
	opacity: 1;
	background:#ccc;
}
.spans .current{
	background:red;
}

.banner-static{
	width:100%;
	height:100%;
	margin-bottom:1rem;
	text-align:center;
}
.banner-static>img{
	max-width: 100%;
	max-height: 100%;
	border:0;
}
/* 中部分类栏 */
.middle-box{
	/* margin-top:1rem; */
	position:relative;
	width:100%;
}
.middle-nav{
	display:flex;
	justify-content:spce-around;
	flex-wrap:wrap;
	width:100%;
}
.a1{
	display:block;
	width:20%;
	text-align:center;
}
.a1>img{
	/* display:block; */
	width:3rem;
	margin-top:.5rem;
	
}
.a1>span{
	display:block;
	margin-top:.3rem;
	font-size:.6rem;
	color:#666;
}
.middle-spans{
	width:100%;
	position:absolute;
	left:0px;right:0px;
	/* bottom:4px; */
	z-index:5;
	text-align:center;
}
.middle-spans>span{
	box-sizing: border-box;
	border-radius: 50%;
	height: .33rem;
	width: .33rem;
	margin: 0 2px;
	display: inline-block;
	opacity: 1;
	background:#ccc;
}
.middle-spans .cu{
	background:red;
}
/* 主要内容 */
.bigbox{
	display:flex;
	justify-content:space-around;
	padding:0.25rem;
	margin-top:1.5rem;
	background:rgb(247,247,247);
}
.bigbox-l{
	width:50%;
	display:flex;
	flex-wrap:wrap;
	flex-direction:colunm;
	justify-content:space-around;
}
.bigbox-r{
	width:50%;
	display:flex;
}
.n1{
	padding:0.25rem;
	box-sizing:border-box;
}
.goods{
	display: block;
	width: 100%;
	background: #ffffff;
	border-radius: 0.4rem;
	overflow: hidden;
	position: relative;
}
.imgbox{
	/* width: 8.625rem;
	height: 8.625rem; */
	width:100%;
	margin-bottom: 0.25rem;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border-radius:0.5rem;
}
.imgbox>img{
	width:100%;
	height:100%;
}
.goods-info{
	padding: 0 0.5rem 0.5rem;
}
.goods-name{
	text-align: left;
	line-height: 1.05rem;
	height: 2.1rem;
	font-size: 0.9rem;
	overflow: hidden;
	color: #434343;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	word-break: break-all;
	-webkit-box-orient: vertical;
}
.goods-row{
	display: flex;
	height: 1.5rem;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}
.price{
	font-style: normal;
	font-family: JDZH-Regular, sans-serif;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #ff4142;
}
.goods-row-bottom{
	width: calc(100% - 2.5rem);
	height: 1rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
}
.goods-row-bottom>img{
	width: 2rem;
	height:1rem;
}
.goods-pj{
	margin-left: 0.3rem;
	margin-right: 0.025rem;
	max-width: 100%;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 0.6rem;
}
.feed-back{
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	background: #f2f2f2;
	color: #262626;
	font-size: 0.55rem;
	width: 3rem;
	height: 1.5rem;
	border-radius: 0.7rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
