/* 全局样式 */
*{margin: 0px;padding: 0px;}
li{list-style: none;}
a{text-decoration: none;color: #000;}
img{vertical-align: bottom;}
body{
	color: #000;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	max-width: 540px;
	margin: 0 auto;
	background: #f4f4f4;
}
/* 搜索框样式 */
.index-page-top-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.search-index{
	background: #fff;
	width: 100%;
	max-width: 540px;
	height: 50px;
	z-index: 12;
	padding: 12px 12px 6px;
	box-sizing: border-box;
	transition: all .5s;
	display: flex;
}
.search-index-box{
	flex: 1;
	height: 32px;
	border-radius: 16px;
	border: 1.8px solid #0086f6;
	color: #666;
	font-size: .94rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
}
.search-index .search-index-box span {
    margin-left: 6px;
    font-size: 15px;
    line-height: 21px;
    color: #999;
}
/* 菜单样式 */
.main-nav-wrap {
    padding: 6px 12px 2px;
    display: flex;
	justify-content: space-around;
    flex-direction: row;
}
.main-nav-wrap ul.nav-list li.nav-item a .main-nav-icon {
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
    background-size: 28px auto;
    background-repeat: no-repeat;
}
.main-nav-wrap ul.nav-list li.nav-item:first-child {
    margin-bottom: 1px;
}
.main-nav-wrap ul.nav-list li.nav-item:last-child {
    margin-top: 1px;
}
ul {
    /* display: block; */
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}
.main-nav-wrap ul.nav-list li.nav-item a .main-nav-icon {
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
    background-size: 28px auto;
    background-repeat: no-repeat;
}
/* 酒店列 */
.main-nav-wrap .nav-hotel:first-child {
    border-top-left-radius: 8px;
    background-image: linear-gradient(180deg,#fa5956,#fb8650);
}
.main-nav-wrap ul.nav-list li.nav-item {
    width: 100%;
    height: 58px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.main-nav-wrap .nav-hotel:last-child {
    border-bottom-left-radius: 8px;
}
.main-nav-wrap .nav-hotel {
    background-color: #fff5f1;
}
.main-nav-wrap ul.nav-list li.nav-item:first-child>a {
    color: #fff;
    font-family: PingFangSC-Medium;
}
.main-nav-wrap ul.nav-list li.nav-item a {
    display: flex;
    height: 100%;
	width:72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}
.jiudian{
	background-image: url('../xc-imgs/hotel.png');
}
.minsu{
	background-image: url('../xc-imgs/hotel_inn.png');
	/* background-size:28px; */
}
.baokuan{
	background-image: url('../xc-imgs/hotel_sale.png');
}
/* 机票列 */
.main-nav-wrap .nav-flight:first-child {
    background-image: linear-gradient(180deg,#3c83fa,#50b2fa);
}
.main-nav-wrap .nav-flight {
    background-color: #eff9ff;
}
.jipiao{
	background-image: url(../xc-imgs/flight.png);
}
.jijiu{
	background-image: url('../xc-imgs/flight_package.png');
}
.baoche{
	background-image: url('../xc-imgs/airport_transfer.png');
}
/* 火车票列 */
.main-nav-wrap .nav-train:first-child {
    background-image: linear-gradient(0deg,#66a4ff,#5e80ff);
}
.main-nav-wrap .nav-train {
    background-color: #f2f5ff;
}
.huochepiao{
	background-image: url('../xc-imgs/train_ticket.png');
}
.qiche{
	background-image: url('../xc-imgs/bus_ticket.png');
}
.zuche{
	background-image: url('../xc-imgs/car.png');
}
/* 旅游列 */
.main-nav-wrap .nav-vacation:first-child {
    background-image: linear-gradient(180deg,#2fc3b6,#52d9b3);
}
.main-nav-wrap .nav-vacation {
    background-color: #ecfcf8;
}
.lvyou{
	background-image: url('../xc-imgs/vacation.png');
}
.menpiao{
	background-image: url('../xc-imgs/ticket.png');
}
.zhoubian{
	background-image: url('../xc-imgs/weekend.png');
}
/* 景点列 */
.main-nav-wrap .nav-gs:first-child {
    border-top-right-radius: 8px;
    background-image: linear-gradient(0deg,#ffa846,#ff8939 99%);
}
.main-nav-wrap .nav-gs {
    background-color: #fff9f2;
}
.gonglue{
	background-image: url('../xc-imgs/gs.png');
}
.food{
	background-image: url('../xc-imgs/food.png');
}
.shopping{
	background-image: url('../xc-imgs/shop.png');
}
.nav-switch-wrap .nav-switch-item.nav-switch-item-active {
    width: 14px;
    background-color: #0086f6;
}
.nav-switch-wrap .nav-switch-item {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ccc;
}

/* 小圆点样式 */
.nav-switch-wrap {
    width: 100%;
    height: 20px;
    background-image: linear-gradient(0deg,#f4f4f4,#fff);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4px;
}
.nav-switch-wrap .nav-switch-item:first-child {
    margin-right: 4px;
}
.nav-switch-wrap .nav-switch-item.nav-switch-item-active {
    width: 14px;
    background-color: #0086f6;
}
.nav-switch-wrap .nav-switch-item {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #ccc;
}
/* 中部推荐样式 */
.sub-banner-box{
	display: flex;
	background-color: #f4f4f4;
	padding: 0 12px;
	margin-left: -8px;
	margin-bottom: 10px;
}
.sub-banner-box .banner {
    position: relative;
    flex: 1;
    width: 50%;
    padding: 8px;
    margin-left: 8px;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.sub-banner-box .banner .block-header {
    display: flex;
    height: 20px;
    margin-bottom: 6px;
    justify-content: space-between;
    align-items: center;
}
.sub-banner-box .banner .block-header .title {
    width: 73px;
    height: 20px;
}
.sub-banner-box .banner .block-header .slogan-hotsale {
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    font-size: 10px;
    background: #ffebe3;
    color: #ff4607;
    padding: 1px 4px;
    white-space: nowrap;
}
.sub-banner-box .banner .block-header .slogan-rank {
    height: 16px;
    border-radius: 2px;
    background: #fdefd2;
    font-size: 10px;
    color: #ae6e15;
    line-height: 16px;
    padding: 1px 4px;
    white-space: nowrap;
}
/* 推荐左边轮播图样式 */
.slider {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
.hotsale-wrapper .block-image {
    position: relative;
    height: 84px;
    margin-bottom: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
}
.hotsale-wrapper .block-image .mask {
    position: absolute;
    top: 42px;
    height: 42px;
    width: 100%;
    background-image: linear-gradient(0deg,rgba(0,0,0,.6) 2%,transparent);
}
.hotsale-wrapper .block-image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}
.hotsale-wrapper .block-image .tag {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    background: rgba(51,51,51,.8);
    border-radius: 6px 0 6px 0;
    font-size: 10px;
    color: #fff;
}
.hotsale-wrapper .block-image .product {
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border-radius: 0 6px 0 6px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
    color: #fff;
}
.hotsale-wrapper .block-footer {
    margin-top: 4px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}
.hotsale-wrapper .block-footer .priceWrap {
    float: left;
    margin-right: 4px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
}
.hotsale-wrapper .block-footer .priceWrap .price {
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #f60;
    padding-right: 2px;
}
.hotsale-wrapper .block-footer .priceWrap .price i.symbol {
    font-style: normal;
    font-size: 11px;
    color: #f60;
    line-height: 1.1;
}
.switch-wrapper {
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.switch-wrapper .switch-item {
    width: 4px;
    height: 4px;
    background-color: hsla(0,0%,100%,.4);
    border-radius: 2px;
    margin-right: 4px;
}
.switch-wrapper .switch-item.active {
    width: 14px;
    background-color: #fff;
}
/* 推荐右边样式 */
.rank-wrapper{
	position: relative;
	display: flex;
	flex-direction: row;
}
.rank-wrapper .rank-item:first-child {
    margin-right: 2px;
}
.rank-wrapper .rank-item {
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.rank-wrapper .block-image {
    position: relative;
    height: 84px;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
}
.rank-wrapper .block-image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 84px;
}
.rank-wrapper .block-image .tag {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    background-image: linear-gradient(270deg,#f8e1bd,#e2c089);
    border-radius: 6px 0 6px 0;
    font-size: 10px;
    color: #663c00;
}
.rank-wrapper .block-footer {
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.rank-wrapper .block-footer .rank-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	font-family: PingFangSC-Semibold;
	font-size: 11px;
	color: #333;
	line-height: 1.1;
}
.rank-wrapper .rank-item:last-child {
    margin-left: 2px;
}
/* 底部静态样式 */
.banner-b{
	
	margin-top: 10px;
	padding: 0 12px 12px;
	overflow: hidden;
}
.banner-b>div{
	width: 366px;
	height: 91.5px;
	overflow: hidden;
	border-radius: 10px;
}
.banner-b>div>img{
	width: 100%;
	height: 100%;
}
.toolbox{
	height: 120px;
	padding-top: 12px;
	padding-bottom: 50px;
}
.tool-group{
	display: flex;
	justify-content: space-around;
	margin: 0 12px;
}
.tool-group .tool-link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	min-width: 100px;
	color:#999;
	
}
.a-box>a{
	color:#666;
}
.a-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width:102px;
	height: 32px;
	border: 1px solid #999;
	border-radius: 4px;
}
.tool-ver{
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	margin-top: 13px;
}
.tool-ver a{
	color:#666;
}
.toolbox .tool-ver a.sitemap:after {
    content: "";
    margin-right: 24px;
    padding-right: 24px;
    background-position: 100%;
    background-image: linear-gradient(90deg,transparent 50%,#ccc 0);
    background-repeat: no-repeat;
    background-size: 1px 100%;
}

.toolbox .tool-ver p {
    margin-top: 16px;
    font-size: 10px;
    color: #666;
    letter-spacing: 0;
    text-align: center;
    line-height: 12px;
}

/* 底部导航栏样式 */
.tabbar{
	position: fixed;
	box-shadow: 0 -5px 15px 0 rgb(0 0 0 / 5%);
	bottom: 0;
	left: 0;
	right: 0;
	height: 49px;
	background-color: #fff;
	max-width: 540px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabbar .tabbar-link{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5px;
	color: #666;
	line-height: 12px;
}
.tabbar-link>span:nth-child(1){
	font-size: 20px;
}
.tabbar-link>span:nth-child(2){
	font-size: 10px;
	margin-top:5px ;
}
.active>span:nth-child(1){
	color:skyblue;
}
/* 固定定位样式 */
.qd{
	position: fixed;
	bottom:50px;
	right:10px;
	width: 76px;
	height: 76px;
}
.qd>img{
	width: 100%;
	height: 100%;
}
/* swiper样式 */
.swiper{
	width:100%;
	/* height: 300px; */
	/* background: #999; */
	color: white;
	/* text-align: center; */
	font-size: 70px;
}
.swiper-slide img{width:100%}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
	/* top:10px; */
	bottom:70px;
	left:50px;
	
}
.swiper-pagination  .swiper-pagination-bullet-active{
	width:14px;
	background: #fff!important;
	border-radius: 6px;
}
